@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
}

span {
  color: cyan;
}

.click {
  background-color: #4caf50;
  border: 2px solid #4caf50;
  padding: 10px 15px;
  color: #ffffff;
  margin-bottom: 20px;
  border-radius: 5px;
}

.click-to-youtube {
  background: transparent;
  border: 2px solid #4caf50;
  padding: 10px 15px;
  color: #4caf50;
  margin-bottom: 20px;
  border-radius: 5px;
}

.click-to-youtube:hover {
  background: #4caf50;
  color: #ffffff;
  cursor: pointer;
}

.fruits {
  list-style: none;
  font-size: larger;
  font-weight: 700;
}

.animals {
  list-style: none;
}

.one {
  background: #1f212e;
  padding: 80px 0px;
}
.five {
  background: url(../assets/pool.jpg);
  padding: 80px 0px;
  background-size: cover;
}

.xyz {
  padding: 20px;
  margin: 10px;
  background: #ffffff;
  width: 100%;
}

.xyz1 {
  margin-top: -240px;
  padding: 20px;
  position: relative;
  z-index: 11;
  background: white;
}

.hero-section-text {
  margin-bottom: 150px;
}

.hero-section-text h5 {
  font-size: 44px;
}

.header-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.list {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-top: 15px;
  margin-right: 15px;
}

.list a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
}

a:hover {
  color: goldenrod;
}

nav {
  background: rgb(31, 33, 46);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  margin-right: auto;
  cursor: pointer;
}

.header-content .toggle-btn {
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.dropdown_menu {
  position: absolute;
  right: 2em;
  top: 60px;
  width: 300px;
  height: 0;
  background: rgba(31, 33, 46, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  display: none;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px 0;
}

.dropdown_menu li {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.dropdown_menu li a {
  text-decoration: none;
  color: #ffffff;
}

.dropdown_menu li a:hover {
  color: goldenrod;
}

.dropdown_menu .btn {
  width: 90%;
  display: flex;
  justify-content: center;
}

.section-two {
  background: #ffffff;
  padding: 40px 0px;
}

.contact-image {
  width: 100%;
}

.contact-us {
  color: #1f212e;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 20px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 30px;
  color: white;
  background: #1f212e;
}

.footer ul {
  padding-top: 10px;
  list-style: none;
}

.footer li {
  margin-left: -32px;
}

.footer .logo {
  margin-left: -10px;
}

.copyright {
  padding: 10px 0px;
  color: white;
  background: #2d3147;
  text-transform: uppercase;
  font-size: 12px;
}
.footer-header {
  text-transform: uppercase;
  font-weight: bolder;
}

.logo-header {
  text-transform: uppercase;
  font-weight: bolder;
}
.socials {
  color: white;
  font-size: 2rem;
}

.socials i {
  margin-right: 10px;
}
.list a i {
  color: #ffca2c;
}

.social-links {
  text-align: center;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.contact-links {
  text-align: center;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.six {
  background: #a4cea6;
  padding: 80px 0px;
}

.six::before {
  content: "";
  position: absolute;
  left: 0;
  width: 50%;
  height: 100px;
  background: #c0e81d;
}
.six::after {
  content: "";
  position: absolute;
  right: 0;
  width: 50%;
  height: 100px;
  background: #041505;
}

.hello-after {
  z-index: 111;
  color: white;
}

.six h4 {
  position: absolute;
}

.map {
  padding: 80px 0px;
}
@media (max-width: 800px) {
  .header-content .list,
  .header-content .btn {
    display: none;
  }

  .header-content .toggle-btn {
    display: block;
  }

  .toggle-btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 920px) {
  .xyz1 {
    margin-top: 50px;
  }
  .hero-section-text {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 768px) {
  span {
    color: coral;
  }

  .fruits {
    display: none;
  }
  .xyz1 {
    margin-top: inherit;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}
